Repository Spectrum-CETB/Spectober_Fest, pull requests merged in 2022-10, with the labels that each got.

#12 fix: File structuring error fixed
  projects_Advanced/Advanced_Project.md
  projects_Advanced/README.md
  projects_Advanced/contributing.md
  projects_Intermediate/Intermediate_Project.md
  projects_Intermediate/README.md
  projects_Intermediate/contributing.md
Labels: bug, hacktoberfest

#21 Prime Factor Calculator
  projects_Intermediate/WEB_DEVELOPEMENT/PrimeFactorCalc_Jeevan-Alok/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/PrimeFactorCalc_Jeevan-Alok/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/PrimeFactorCalc_Jeevan-Alok/script.js
  projects_Intermediate/WEB_DEVELOPEMENT/PrimeFactorCalc_Jeevan-Alok/style.css
Labels: hacktoberfest, projects_Intermediate, web development

#18 Updated Readme
  projects_Intermediate/Project_Domain.md
Labels: readme changes

#19 Added PdfMaker File
  projects_Intermediate/PYTHON_DEVELOPMENT/UltimatePdfMaker_Sattwik-Palai/The_ultimate_pdf_maker.py
Labels: hacktoberfest, projects_Intermediate, hacktoberfest-accepted, Python Development, review requested

#24 Added Rock Paper Scissor game.
  projects_Intermediate/PYTHON_DEVELOPMENT/RockPaperScissors_Kalinga-Khatua/Readme.md
  projects_Intermediate/PYTHON_DEVELOPMENT/RockPaperScissors_Kalinga-Khatua/rpsGame.py
Labels: projects_Intermediate, hacktoberfest-accepted, Python Development

#29 PokeCatch
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/.gitignore
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/.vscode/settings.json
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/package-lock.json
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/package.json
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/public/favicon.ico
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/public/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/public/manifest.json
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/public/robots.txt
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/src/App.css
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/src/App.js
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/src/App.test.js
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/src/Components/Card.jsx
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/src/Components/Generate.jsx
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/src/images/battle.png
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/src/images/colorswd.png
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/src/images/hospital.png
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/src/images/life.png
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/src/images/pokeball.svg
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/src/images/shield.png
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/src/images/shield1.png
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/src/images/speed.png
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/src/images/swords.png
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/src/index.css
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/src/index.js
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/src/reportWebVitals.js
  projects_Intermediate/WEB_DEVELOPEMENT/PokeCatch_Jeevan-Alok/src/setupTests.js
Labels: hacktoberfest, projects_Intermediate, hacktoberfest-accepted, web development, approved

#32 MAJORITY__ELEMENT.cpp
  coding_freshmen/C++/example.cpp
  coding_freshmen/C++/example_code.cpp
  coding_freshmen/C++/sahildkun/MAJORITY_ELEMENT.cpp
  coding_freshmen/C++/sahildkun/README.md
Labels: hacktoberfest, coding_freshmen, hacktoberfest-accepted, C/C++, approved

#34 File name bug fixed
  coding_freshmen/C++/sahild_kun/MAJORITY_ELEMENT.cpp
  coding_freshmen/C++/sahild_kun/README.md
Labels: bug

#23 Python solution for Maximum_sum
  coding_freshmen/PYTHON/VINWARE/MAXIMUM_SUM.py
  coding_freshmen/PYTHON/VINWARE/README.md
Labels: hacktoberfest, coding_freshmen, python, review requested

#38 Anagram
  coding_freshmen/JAVA/Soumya/ANAGRAMS.java
  coding_freshmen/JAVA/Soumya/readme.md
Labels: hacktoberfest, coding_freshmen, java, review requested

#45 Project Rock Paper Scissors Lizard and Spock
  projects_Intermediate/PYTHON_DEVELOPMENT/Rock_paper_scissor_lizard_spock_Prateek-Rath/README.md
  projects_Intermediate/PYTHON_DEVELOPMENT/Rock_paper_scissor_lizard_spock_Prateek-Rath/img/computer-png-hd-45246.png
  projects_Intermediate/PYTHON_DEVELOPMENT/Rock_paper_scissor_lizard_spock_Prateek-Rath/img/lizard.png
  projects_Intermediate/PYTHON_DEVELOPMENT/Rock_paper_scissor_lizard_spock_Prateek-Rath/img/paper.png
  projects_Intermediate/PYTHON_DEVELOPMENT/Rock_paper_scissor_lizard_spock_Prateek-Rath/img/player.png
  projects_Intermediate/PYTHON_DEVELOPMENT/Rock_paper_scissor_lizard_spock_Prateek-Rath/img/scissors.png
  projects_Intermediate/PYTHON_DEVELOPMENT/Rock_paper_scissor_lizard_spock_Prateek-Rath/img/spock.png
  projects_Intermediate/PYTHON_DEVELOPMENT/Rock_paper_scissor_lizard_spock_Prateek-Rath/main.py
Labels: hacktoberfest, projects_Intermediate, Python Development, review requested

#33 Rohan(ai/ml)
  projects_Intermediate/AI_ML/SpaceshipTitanic_Rohan-Mohanty/.ipynb_checkpoints/Space_Titanic_Predictions-checkpoint.ipynb
  projects_Intermediate/AI_ML/SpaceshipTitanic_Rohan-Mohanty/Answers.csv
  projects_Intermediate/AI_ML/SpaceshipTitanic_Rohan-Mohanty/README.md
  projects_Intermediate/AI_ML/SpaceshipTitanic_Rohan-Mohanty/Space_Titanic_Predictions.ipynb
  projects_Intermediate/AI_ML/SpaceshipTitanic_Rohan-Mohanty/sample_submission.csv
  projects_Intermediate/AI_ML/SpaceshipTitanic_Rohan-Mohanty/test.csv
  projects_Intermediate/AI_ML/SpaceshipTitanic_Rohan-Mohanty/train.csv
Labels: hacktoberfest, projects_Intermediate, hacktoberfest-accepted, AI/ML/DL, review requested

#49 Solving MAXIMUM_SUM problem using C++
  coding_freshmen/C++/Kumar_Santosh/MAXIMUM_SUM.cpp
  coding_freshmen/C++/Kumar_Santosh/README.md
Labels: hacktoberfest

#57 SOLVED ANAGRAMS using C++
  coding_freshmen/C++/BHAGYAJIT PINGUA/ANAGRAMS
  coding_freshmen/C++/BHAGYAJIT PINGUA/README.md
Labels: time complexity

#64 Solved PROFICIENT_TRADER in C++
  coding_freshmen/C++/Nitin_Mishra/PROFICIENT_TRADER.cpp
  coding_freshmen/C++/Nitin_Mishra/README.md
Labels: hacktoberfest, C/C++, hacktoberfest-- accepted

#58 WeatherApp by sahil
  projects_Intermediate/WEB_DEVELOPEMENT/Weatherapp_sahildkun/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/Weatherapp_sahildkun/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/Weatherapp_sahildkun/script.js
  projects_Intermediate/WEB_DEVELOPEMENT/Weatherapp_sahildkun/style.css
Labels: hacktoberfest, projects_Intermediate, web development, approved

#60 Maximum sum using java
  coding_freshmen/JAVA/Soumya/ANAGRAMS.java
  coding_freshmen/JAVA/Soumya/MAXIMUM_SUM.java
  coding_freshmen/JAVA/Soumya/readme.md
Labels: hacktoberfest, coding_freshmen, java, review requested

#68 Re-Commit PR, Solutions in C++
  coding_freshmen/C++/Nitin_Mishra/ANAGRAM.cpp
  coding_freshmen/C++/Nitin_Mishra/PROFICIENT_TRADER.cpp
Labels: C/C++, hacktoberfest-- accepted

#66 SORT_1 question solved
  coding_freshmen/JAVA/ABUZANAZAD/README.md
  coding_freshmen/JAVA/ABUZANAZAD/SORT_01.java
Labels: hacktoberfest, java

#59 Morse Translator
  projects_Intermediate/WEB_DEVELOPEMENT/MorseTranslator_Jeevan-Alok/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/MorseTranslator_Jeevan-Alok/app.js
  projects_Intermediate/WEB_DEVELOPEMENT/MorseTranslator_Jeevan-Alok/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/MorseTranslator_Jeevan-Alok/style.css
Labels: hacktoberfest, projects_Intermediate, web development, review requested

#71 Q.2 --> pattern_finder
  coding_freshmen/C/heySwayam/pattern_finder.c
  coding_freshmen/C/heySwayam/pattern_finder.md
Labels: hacktoberfest, C/C++

#73 C++ solution to Product_finder
  coding_freshmen/C++/Aniket_Tripathy/PRODUCT_FINDER.cpp
  coding_freshmen/C++/Aniket_Tripathy/README.md
Labels: hacktoberfest, coding_freshmen, C/C++

#63 feat: Github Workflow for pr and issue message
  .github/workflows/hello-to-news-contributions.yml
Labels: hacktoberfest, hacktoberfest-accepted, feature, Workflow

#70 Br2
  coding_freshmen/C++/Ashutosh_Panda/Readme.md
  coding_freshmen/C++/Ashutosh_Panda/SoErato.cpp
  coding_freshmen/C++/Ashutosh_Panda/spiral.cpp
  projects_Intermediate/PYTHON_DEVELOPMENT/GUI_Calculator_Ashutosh_Panda/README.md
  projects_Intermediate/PYTHON_DEVELOPMENT/GUI_Calculator_Ashutosh_Panda/calculator.py
Labels: hacktoberfest, projects_Intermediate, hacktoberfest-accepted, Python Development, approved

#69 Files Committed
  coding_freshmen/C++/Ashutosh_Panda/Readme.md
  coding_freshmen/C++/Ashutosh_Panda/SoErato.cpp
  coding_freshmen/C++/Ashutosh_Panda/spiral.cpp
Labels: hacktoberfest, python

#85 Added C++ solution to ANAGRAMS
  coding_freshmen/C++/Aniket_Tripathy/ANAGRAMS.cpp
  coding_freshmen/C++/Aniket_Tripathy/README.md
Labels: hacktoberfest, coding_freshmen, C/C++

#77 MAJORITY_ELEMENT by JYOTISHREE BEHERA
  coding_freshmen/PYTHON/JYOTISHREE_BEHERA/MAJORITY_ELEMENT.py
  coding_freshmen/PYTHON/JYOTISHREE_BEHERA/README.md
Labels: hacktoberfest, coding_freshmen, hacktoberfest-accepted, python

#87 Anagram added
  coding_freshmen/C++/ALOK_RANJAN_JOSHI/ANAGRAM.cpp
  coding_freshmen/C++/ALOK_RANJAN_JOSHI/README.md
Labels: hacktoberfest accepted

#92 Roman to Decimal java solution
  coding_freshmen/JAVA/ABUZANAZAD/README.md
  coding_freshmen/JAVA/ABUZANAZAD/ROMAN_TO_DECIMAL.java
Labels: hacktoberfest, coding_freshmen, hacktoberfest-accepted, java, approved

#93 PATTERN_FINDER problem solved
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/issue-report.md
  .github/pull_request_template.md
  coding_freshmen/C++/ALOK_RANJAN_JOSHI/PATTERN_FINDER.cpp
  coding_freshmen/C++/ALOK_RANJAN_JOSHI/README.md
Labels: hacktober accept

#94 Roman_to_decimal
  coding_freshmen/C++/Liza_Patra/README.md
  coding_freshmen/C++/Liza_Patra/Roman_to_decimal.cpp
Labels: hacktoberfest, C/C++

#78 Solved PATTERN_FINDER IN C++
  coding_freshmen/C++/BHAGYAJIT PINGUA/ANAGRAMS.cpp
  coding_freshmen/C++/BHAGYAJIT PINGUA/PATTERN_FINDER.cpp
  coding_freshmen/C++/BHAGYAJIT PINGUA/README.md
Labels: hacktoberfest, coding_freshmen, C/C++

#89 SOLVED SORT_01 problem using C++
  coding_freshmen/C++/Kumar_Santosh/README.md
  coding_freshmen/C++/Kumar_Santosh/SORT_01-KS.cpp
Labels: hacktoberfest, coding_freshmen, C/C++

#88 Majority_Element_1
  coding_freshmen/C/heySwayam/majority_element.c
  coding_freshmen/C/heySwayam/majority_element.md
Labels: hacktoberfest, coding_freshmen, C/C++

#95 MEME_GENERATOR
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/.gitignore
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/package-lock.json
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/package.json
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/postcss.config.js
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/public/favicon.ico
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/public/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/public/logo192.png
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/public/logo512.png
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/public/manifest.json
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/public/robots.txt
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/src/App.css
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/src/App.js
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/src/Data.js
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/src/Meme.js
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/src/Navbar.js
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/src/images/4854c2cd8f0e69be5d0dd124662654f2.jpg
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/src/images/Troll Face (1).png
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/src/index.css
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/src/index.js
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/src/reportWebVitals.js
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/src/setupTests.js
  projects_Intermediate/WEB_DEVELOPEMENT/memegenerator_sahildkun/tailwind.config.js
Labels: hacktoberfest, projects_Intermediate, hacktoberfest-accepted, web development, approved

#91 BMI calculator python project
  projects_Intermediate/PYTHON_DEVELOPMENT/BMI_calculator_subhasish-pattanaik/.idea/.gitignore
  projects_Intermediate/PYTHON_DEVELOPMENT/BMI_calculator_subhasish-pattanaik/.idea/BMIcalculator.iml
  projects_Intermediate/PYTHON_DEVELOPMENT/BMI_calculator_subhasish-pattanaik/.idea/inspectionProfiles/profiles_settings.xml
  projects_Intermediate/PYTHON_DEVELOPMENT/BMI_calculator_subhasish-pattanaik/.idea/misc.xml
  projects_Intermediate/PYTHON_DEVELOPMENT/BMI_calculator_subhasish-pattanaik/.idea/modules.xml
  projects_Intermediate/PYTHON_DEVELOPMENT/BMI_calculator_subhasish-pattanaik/README.md
  projects_Intermediate/PYTHON_DEVELOPMENT/BMI_calculator_subhasish-pattanaik/main.py
Labels: hacktoberfest, projects_Intermediate, hacktoberfest-accepted, Python Development

#74 Anagram solved using java
  coding_freshmen/JAVA/Soumya/MAXIMUM_SUM.java
  coding_freshmen/JAVA/Soumya/readme.md
  coding_freshmen/JAVA/Soumyaranjan/ANAGRAMS.java
  coding_freshmen/JAVA/Soumyaranjan/readme.md
Labels: hacktoberfest, coding_freshmen, java

#35 ChatApp(Socket programming)
  projects_Intermediate/PYTHON_DEVELOPMENT/ChatApp_Siddhartha-Shankar-Padhy/README.md
  projects_Intermediate/PYTHON_DEVELOPMENT/ChatApp_Siddhartha-Shankar-Padhy/chatServer.py
  projects_Intermediate/PYTHON_DEVELOPMENT/ChatApp_Siddhartha-Shankar-Padhy/main.py
Labels: hacktoberfest, projects_Intermediate, hacktoberfest-accepted, Python Development, review requested, approved

#103 Added TYPING SPEED Calculator Python Project
  projects_Intermediate/PYTHON_DEVELOPMENT/Typing_Speed_Calculator-Kumar_Santosh/Readme.md
  projects_Intermediate/PYTHON_DEVELOPMENT/Typing_Speed_Calculator-Kumar_Santosh/typing_speed.py
Labels: hacktoberfest, projects_Intermediate, Python Development

#104 Added C++ solution to Maximum_Sum
  coding_freshmen/C++/Binay_Sahu/MAXIMUM_SUM.cpp
  coding_freshmen/C++/Binay_Sahu/README.md
Labels: C/C++, hacktober accept

#100 sort_1
  coding_freshmen/C/heySwayam/README.md
  coding_freshmen/C/heySwayam/sort_1.c
Labels: hacktoberfest, coding_freshmen, C/C++

#108 final commit
  coding_freshmen/PYTHON/root_user/ROMAN_TO_DECIMAL.cpp
Labels: hacktoberfest, coding_freshmen, hacktoberfest-accepted, C/C++

#106 C++ Solution to Anagrams
  coding_freshmen/C++/Binay_Sahu/ANAGRAMS.cpp
  coding_freshmen/C++/Binay_Sahu/README.md
Labels: hacktoberfest, C/C++

#76 Corrected file name of MAXIMUM_SUM to ANAGRAMS
  coding_freshmen/PYTHON/VINWARE/ANAGRAMS.py
  coding_freshmen/projects_Advanced/AI_ML/README.md
  coding_freshmen/projects_Advanced/APP_DEVELOPMENT/README.md
  coding_freshmen/projects_Advanced/HARDWARE_DEVELOPMENT/README.md
  coding_freshmen/projects_Advanced/PYTHON_DEVELOPMENT/README.md
  coding_freshmen/projects_Advanced/Project_Domain.md
  coding_freshmen/projects_Advanced/README.md
  coding_freshmen/projects_Advanced/WEB_DEVELOPMENT/README.md
Labels: hacktoberfest, coding_freshmen, python

#110 PRODUCT_FINDER
  coding_freshmen/C++/root_user/PRODUCT_FINDER.cpp
  coding_freshmen/PYTHON/root_user/PRODUCT_FINDER.cpp
Labels: hacktoberfest, coding_freshmen, hacktoberfest-accepted, C/C++

#109 ADDED ROMAN TO DECIMAL in java
  coding_freshmen/JAVA/QWERTY/ROMAN_TO_DECIMAL.java
Labels: hacktoberfest, coding_freshmen, hacktoberfest-accepted, java

#114 whatsapp chat analyzer project
  projects_Intermediate/PYTHON_DEVELOPMENT/whatsapp_chat_analyzer_pratyush-giri/README.md
  projects_Intermediate/PYTHON_DEVELOPMENT/whatsapp_chat_analyzer_pratyush-giri/app.py
  projects_Intermediate/PYTHON_DEVELOPMENT/whatsapp_chat_analyzer_pratyush-giri/helper.py
  projects_Intermediate/PYTHON_DEVELOPMENT/whatsapp_chat_analyzer_pratyush-giri/preprocessor.py
Labels: hacktoberfest, projects_Intermediate, Python Development

#116 pattern_finder
  coding_freshmen/C++/Liza_Patra/Pattern_Finder.cpp
  coding_freshmen/C++/Liza_Patra/README.md
Labels: hacktoberfest, coding_freshmen, C/C++

#119 Roman To Integer
  coding_freshmen/C++/ALOK_RANJAN_JOSHI/README.md
  coding_freshmen/C++/ALOK_RANJAN_JOSHI/ROMAN_TO_INTEGER.cpp
Labels: hacktoberfest-accepted, C/C++

#120 MAXIMUM SUM program added
  coding_freshmen/C++/ALOK_RANJAN_JOSHI/MAXIMUM_SUM.cpp
  coding_freshmen/C++/ALOK_RANJAN_JOSHI/README.md
Labels: hacktoberfest, C/C++, approved

#118 2d_array
  coding_freshmen/C++/Liza_Patra/2D_ARRAY.cpp
  coding_freshmen/C++/Liza_Patra/README.md
Labels: hacktoberfest, coding_freshmen, hacktoberfest-accepted, C/C++, approved

#122 Tetris_SoumyaSuman
  projects_Intermediate/PYTHON_DEVELOPMENT/Tetris_SoumyaSuman/README.md
  projects_Intermediate/PYTHON_DEVELOPMENT/Tetris_SoumyaSuman/tetris.py
Labels: hacktoberfest, projects_Intermediate, hacktoberfest-accepted, Python Development, approved

#123 TODO_Soumya_Suman
  projects_Intermediate/WEB_DEVELOPEMENT/ToDoList_SoumyaSuman/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/ToDoList_SoumyaSuman/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/ToDoList_SoumyaSuman/logic.js
  projects_Intermediate/WEB_DEVELOPEMENT/ToDoList_SoumyaSuman/style.css
Labels: hacktoberfest, projects_Intermediate, Python Development, python, approved

#117 added tic toe game flutter
  projects_Intermediate/APP_DEVELOPMENT/tic_toe_game_Arpit-Verma/1.jpeg
  projects_Intermediate/APP_DEVELOPMENT/tic_toe_game_Arpit-Verma/3.jpeg
  projects_Intermediate/APP_DEVELOPMENT/tic_toe_game_Arpit-Verma/4.jpeg
  projects_Intermediate/APP_DEVELOPMENT/tic_toe_game_Arpit-Verma/README.md
  projects_Intermediate/APP_DEVELOPMENT/tic_toe_game_Arpit-Verma/main.dart
  projects_Intermediate/APP_DEVELOPMENT/tic_toe_game_Arpit-Verma/pubspec.yaml
Labels: hacktoberfest, projects_Intermediate, hacktoberfest-accepted, flutter, approved

#126 CountDown timer app for Hactoberfest2022
  projects_Intermediate/WEB_DEVELOPEMENT/countdown_Prasannajeet-Pradhan/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/countdown_Prasannajeet-Pradhan/cristina-gottardi-CSpjU6hYo_0-unsplash.jpg
  projects_Intermediate/WEB_DEVELOPEMENT/countdown_Prasannajeet-Pradhan/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/countdown_Prasannajeet-Pradhan/script.js
  projects_Intermediate/WEB_DEVELOPEMENT/countdown_Prasannajeet-Pradhan/style.css
Labels: projects_Intermediate, hacktoberfest-accepted, web development, approved

#128 dadjokes for hactoberfest
  projects_Intermediate/WEB_DEVELOPEMENT/deadjokes_Prasannajeet-Pradhan/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/deadjokes_Prasannajeet-Pradhan/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/deadjokes_Prasannajeet-Pradhan/script.js
  projects_Intermediate/WEB_DEVELOPEMENT/deadjokes_Prasannajeet-Pradhan/style.css
Labels: projects_Intermediate, hacktoberfest-accepted, web development, approved

#127 ADDED_CP_QUESTIONS_SURAJ_SHARMA
  coding_freshmen/C++/SURAJ_SHARMA/Allocate_minimum_number_of_pages.cpp
  coding_freshmen/C++/SURAJ_SHARMA/Clone_a_LL.cpp
  coding_freshmen/C++/SURAJ_SHARMA/Count_inversions.cpp
  coding_freshmen/C++/SURAJ_SHARMA/README.md
Labels: coding_freshmen, hacktoberfest-accepted, C/C++, approved

#129 Simple Calculator for hacktoberfest
  projects_Intermediate/WEB_DEVELOPEMENT/simpleCalculator_Prasannajeet-Pradhan/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/simpleCalculator_Prasannajeet-Pradhan/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/simpleCalculator_Prasannajeet-Pradhan/script.js
  projects_Intermediate/WEB_DEVELOPEMENT/simpleCalculator_Prasannajeet-Pradhan/style.css
  projects_Intermediate/WEB_DEVELOPEMENT/todo_Prasannajeet-Pradhan/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/todo_Prasannajeet-Pradhan/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/todo_Prasannajeet-Pradhan/script.js
  projects_Intermediate/WEB_DEVELOPEMENT/todo_Prasannajeet-Pradhan/style.css
Labels: projects_Intermediate, hacktoberfest-accepted, web development, approved

#131 TO-DO APP
  projects_Intermediate/WEB_DEVELOPEMENT/TodoApp_Prasannajeet-Pradhan/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/TodoApp_Prasannajeet-Pradhan/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/TodoApp_Prasannajeet-Pradhan/script.js
  projects_Intermediate/WEB_DEVELOPEMENT/TodoApp_Prasannajeet-Pradhan/style.css
Labels: projects_Intermediate, hacktoberfest-accepted, web development, approved

#130 ADDED_CP_qsns_SURAJ_SHARMA_2
  coding_freshmen/C++/SURAJ_SHARMA_COMMIT_2/Remove_Loop_LL.cpp
  coding_freshmen/C++/SURAJ_SHARMA_COMMIT_2/TRAPPING_RAIN_WATER.cpp
  coding_freshmen/C++/SURAJ_SHARMA_COMMIT_2/readme.txt
Labels: question, hacktoberfest-accepted, C/C++, approved

#132 CP_QUESTIONS_ADDED_3_SURAJ_SHARMA
  coding_freshmen/C++/SURAJ_SHARMA_COMMIT_3/FIND_ALL_FOUR_SUM_NUMBERS.cpp
  coding_freshmen/C++/SURAJ_SHARMA_COMMIT_3/README.txt
  coding_freshmen/C++/SURAJ_SHARMA_COMMIT_3/SPIRALLY_TRAVERSING_a_matrix.cpp
  coding_freshmen/C++/SURAJ_SHARMA_COMMIT_4/K-th_Element_of_TWO_SORTED_ARRAYS.cpp
  coding_freshmen/C++/SURAJ_SHARMA_COMMIT_4/Majority_Element.cpp
  coding_freshmen/C++/SURAJ_SHARMA_COMMIT_4/README.txt
Labels: coding_freshmen, hacktoberfest-accepted, C/C++, approved, correct

#133 Portfolio
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/11.jpg
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/121.jpg
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/123.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/blog-1.jpg
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/blog-2.jpg
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/blog-3.jpg
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/blog-4.jpg
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/blog-5.jpg
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/blog-6.jpg
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/blog-7.jpg
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/css/style.css
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/about-img.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/banner-1.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/banner-2.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/banner-3.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/blog-1.jpg
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/blog-2.jpg
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/blog-3.jpg
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/cat-1.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/cat-2.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/cat-3.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/cat-4.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/cat-5.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/cat-6.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/food-1.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/food-2.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/food-3.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/food-4.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/food-5.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/food-6.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/food-7.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/food-8.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/home-img.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/home-img1.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/home-parallax-img.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/home-parallax-img1.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/home-parallax-img2.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/home-parallax-img3.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/home-parallax-img4.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/icon-1.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/icon-2.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/icon-3.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/menu-1.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/menu-2.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/menu-3.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/menu-4.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/menu-5.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/menu-6.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/row-banner.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/serv-1.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/serv-2.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/serv-3.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/image/serv-4.png
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/js/script.js
  projects_Intermediate/WEB_DEVELOPEMENT/portfolio_Aditya-Aswajeet-Nayak/profile.jpg
Labels: projects_Intermediate, hacktoberfest-accepted, web development, approved

#134 Digital Clock
  projects_Intermediate/WEB_DEVELOPEMENT/digitalClock_Aditya-Aswajeet-Nayak/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/digitalClock_Aditya-Aswajeet-Nayak/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/digitalClock_Aditya-Aswajeet-Nayak/index.js
  projects_Intermediate/WEB_DEVELOPEMENT/digitalClock_Aditya-Aswajeet-Nayak/style.css
Labels: projects_Intermediate, hacktoberfest-accepted, web development, approved

#135 Simple Calculator
  projects_Intermediate/WEB_DEVELOPEMENT/calculator_Aditya-Aswajeet-Nayak/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/calculator_Aditya-Aswajeet-Nayak/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/calculator_Aditya-Aswajeet-Nayak/index.js
  projects_Intermediate/WEB_DEVELOPEMENT/calculator_Aditya-Aswajeet-Nayak/style.css
Labels: projects_Intermediate, hacktoberfest-accepted, web development, approved

#136 Social Media Menu
  projects_Intermediate/WEB_DEVELOPEMENT/socialMediaMenu-Aditya-Aswajeet-Nayak/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/socialMediaMenu-Aditya-Aswajeet-Nayak/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/socialMediaMenu-Aditya-Aswajeet-Nayak/index.js
  projects_Intermediate/WEB_DEVELOPEMENT/socialMediaMenu-Aditya-Aswajeet-Nayak/style.css
Labels: projects_Intermediate, hacktoberfest-accepted, web development, approved

#139 Calculator_SoumyaSuman
  projects_Intermediate/WEB_DEVELOPEMENT/Calculator_SoumyaSuman/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/Calculator_SoumyaSuman/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/Calculator_SoumyaSuman/logic.js
  projects_Intermediate/WEB_DEVELOPEMENT/Calculator_SoumyaSuman/style.css
  projects_Intermediate/WEB_DEVELOPEMENT/DemoPortfolio_SoumyaSuman/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/DemoPortfolio_SoumyaSuman/about-img.png
  projects_Intermediate/WEB_DEVELOPEMENT/DemoPortfolio_SoumyaSuman/bg.png
  projects_Intermediate/WEB_DEVELOPEMENT/DemoPortfolio_SoumyaSuman/bg2.png
  projects_Intermediate/WEB_DEVELOPEMENT/DemoPortfolio_SoumyaSuman/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/DemoPortfolio_SoumyaSuman/model.png
  projects_Intermediate/WEB_DEVELOPEMENT/DemoPortfolio_SoumyaSuman/query.js
  projects_Intermediate/WEB_DEVELOPEMENT/DemoPortfolio_SoumyaSuman/services-1.png
  projects_Intermediate/WEB_DEVELOPEMENT/DemoPortfolio_SoumyaSuman/services-2.png
  projects_Intermediate/WEB_DEVELOPEMENT/DemoPortfolio_SoumyaSuman/servies-3.png
  projects_Intermediate/WEB_DEVELOPEMENT/DemoPortfolio_SoumyaSuman/style.css
Labels: projects_Intermediate, hacktoberfest-accepted, web development, approved

#140 Cp_Questions_1
  coding_freshmen/C++/Sunita_Bal 1/Max_rectangle.cpp
  coding_freshmen/C++/Sunita_Bal 1/README.txt
  coding_freshmen/C++/Sunita_Bal 1/The_Painter's_Partition_Problem-II.cpp
Labels: coding_freshmen, hacktoberfest-accepted, C/C++, approved

#137 CP_QUESN_ADDED_5_SURAJ_SHARMA
  coding_freshmen/C++/SURAJ_SHARMA_COMMIT_5/CIRCULAR_TOUR.cpp
  coding_freshmen/C++/SURAJ_SHARMA_COMMIT_5/README.txt
  coding_freshmen/C++/SURAJ_SHARMA_COMMIT_5/THE_CELEBRITY_PROBLEM.cpp
Labels: coding_freshmen, hacktoberfest-accepted, C/C++, approved

#141 Budget Tracker Project
  projects_Intermediate/WEB_DEVELOPEMENT/budget-Tracker_Pallavi-Mahapatra/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/budget-Tracker_Pallavi-Mahapatra/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/budget-Tracker_Pallavi-Mahapatra/index.js
  projects_Intermediate/WEB_DEVELOPEMENT/budget-Tracker_Pallavi-Mahapatra/style.css
Labels: hacktoberfest, projects_Intermediate, hacktoberfest-accepted, web development, approved

#142 PingPong_SoumyaSuman
  projects_Intermediate/PYTHON_DEVELOPMENT/PingPong_SoumyaSuman/README.md
  projects_Intermediate/PYTHON_DEVELOPMENT/PingPong_SoumyaSuman/main.py
Labels: hacktoberfest, projects_Intermediate, Python Development

#144 cp_questions_2
  coding_freshmen/C++/sunita_bal_2/README.txt
  coding_freshmen/C++/sunita_bal_2/Rat_in_a_Maze_Problem - I.cpp
  coding_freshmen/C++/sunita_bal_2/The_Celebrity_Problem.cpp
Labels: coding_freshmen, hacktoberfest-accepted, C/C++, approved

#146 Profile Card
  projects_Intermediate/WEB_DEVELOPEMENT/PROFILE-CARD_PALLAVI-MAHAPATRA/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/PROFILE-CARD_PALLAVI-MAHAPATRA/bootstrap.css
  projects_Intermediate/WEB_DEVELOPEMENT/PROFILE-CARD_PALLAVI-MAHAPATRA/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/PROFILE-CARD_PALLAVI-MAHAPATRA/profile.js
  projects_Intermediate/WEB_DEVELOPEMENT/PROFILE-CARD_PALLAVI-MAHAPATRA/style.css
  projects_Intermediate/WEB_DEVELOPEMENT/budget-Tracker_Pallavi-Mahapatra/index.html
Labels: hacktoberfest, projects_Intermediate, hacktoberfest-accepted, web development, approved

#149 Tic-Tac-Toe
  projects_Intermediate/WEB_DEVELOPEMENT/Tic-tac-toe_Pallavi-Mahapatra/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/Tic-tac-toe_Pallavi-Mahapatra/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/Tic-tac-toe_Pallavi-Mahapatra/script.js
  projects_Intermediate/WEB_DEVELOPEMENT/Tic-tac-toe_Pallavi-Mahapatra/styles.css
Labels: hacktoberfest-accepted, web development, C/C++

#150 Moviepedia
  projects_Intermediate/WEB_DEVELOPEMENT/Moviepedia_Pallavi-Mahapatra/README.md
  projects_Intermediate/WEB_DEVELOPEMENT/Moviepedia_Pallavi-Mahapatra/bootstrap.css
  projects_Intermediate/WEB_DEVELOPEMENT/Moviepedia_Pallavi-Mahapatra/index.html
  projects_Intermediate/WEB_DEVELOPEMENT/Moviepedia_Pallavi-Mahapatra/movie.js
  projects_Intermediate/WEB_DEVELOPEMENT/Moviepedia_Pallavi-Mahapatra/style2.css
Labels: web development, C/C++, hacktober accept

#147 CP_questions_3
  coding_freshmen/C++/Sunita_bal_3/Allocate_minimum_number_of_pages.cpp
  coding_freshmen/C++/Sunita_bal_3/README.txt
  coding_freshmen/C++/Sunita_bal_3/Trapping_Rain_Water.cpp
Labels: coding_freshmen, hacktoberfest-accepted, C/C++, approved

#152 dfs c code
  coding_freshmen/C++/Anagram_prajwal-behera/anagram.cpp
  coding_freshmen/C/dfs_prajwal-behera/dfs.c
Labels: coding_freshmen, hacktoberfest-accepted, C/C++, approved

#153 djjsktra c code
  coding_freshmen/C/djisktra_prajwal-behera/djisktra.c
  coding_freshmen/C/floyd warshall_prajwal-behera/floyd warshall.c
Labels: coding_freshmen, hacktoberfest-accepted, C/C++, approved

#155 floydWarshall c code prajwal B
  coding_freshmen/C/floydWarshall_Prajwal-Behera/floyd_warshall.c
Labels: coding_freshmen, hacktoberfest-accepted, C/C++, approved

#156 heapsort c code prajwal
  coding_freshmen/C/heapsort_prajwal-behera/heapsort.c
Labels: coding_freshmen, hacktoberfest-accepted, C/C++, approved

#158 snake and ladder game using python
  projects_Intermediate/PYTHON_DEVELOPMENT/snakes_and_ladder_subhasish-pattanaik/.idea/.gitignore
  projects_Intermediate/PYTHON_DEVELOPMENT/snakes_and_ladder_subhasish-pattanaik/.idea/inspectionProfiles/Project_Default.xml
  projects_Intermediate/PYTHON_DEVELOPMENT/snakes_and_ladder_subhasish-pattanaik/.idea/inspectionProfiles/profiles_settings.xml
  projects_Intermediate/PYTHON_DEVELOPMENT/snakes_and_ladder_subhasish-pattanaik/.idea/misc.xml
  projects_Intermediate/PYTHON_DEVELOPMENT/snakes_and_ladder_subhasish-pattanaik/.idea/modules.xml
  projects_Intermediate/PYTHON_DEVELOPMENT/snakes_and_ladder_subhasish-pattanaik/.idea/snakes&ladder.iml
  projects_Intermediate/PYTHON_DEVELOPMENT/snakes_and_ladder_subhasish-pattanaik/README.md
  projects_Intermediate/PYTHON_DEVELOPMENT/snakes_and_ladder_subhasish-pattanaik/main.py
Labels: hacktoberfest, projects_Intermediate, hacktoberfest-accepted, Python Development, python

#159 rock, paper, scissor game using python
  projects_Intermediate/PYTHON_DEVELOPMENT/Rock_paper_scissors_subhasish-pattanaik/.idea/.gitignore
  projects_Intermediate/PYTHON_DEVELOPMENT/Rock_paper_scissors_subhasish-pattanaik/.idea/inspectionProfiles/profiles_settings.xml
  projects_Intermediate/PYTHON_DEVELOPMENT/Rock_paper_scissors_subhasish-pattanaik/.idea/misc.xml
  projects_Intermediate/PYTHON_DEVELOPMENT/Rock_paper_scissors_subhasish-pattanaik/.idea/modules.xml
  projects_Intermediate/PYTHON_DEVELOPMENT/Rock_paper_scissors_subhasish-pattanaik/.idea/pythonProjectrock,paperand scissorpart2.iml
  projects_Intermediate/PYTHON_DEVELOPMENT/Rock_paper_scissors_subhasish-pattanaik/README.md
  projects_Intermediate/PYTHON_DEVELOPMENT/Rock_paper_scissors_subhasish-pattanaik/main.py
Labels: hacktoberfest, projects_Intermediate, hacktoberfest-accepted, Python Development, python, approved

#161 Added Commodity Sentiment Analysis using LSTM
  projects_Intermediate/AI_ML/SentimentAnalysisOfCommodityNews/Model/Sentiment_Analysis_of_Commodity_News.ipynb
  projects_Intermediate/AI_ML/SentimentAnalysisOfCommodityNews/README.md
  projects_Intermediate/AI_ML/SentimentAnalysisOfCommodityNews/best_model.h5
  projects_Intermediate/AI_ML/SentimentAnalysisOfCommodityNews/model.png
  projects_Intermediate/AI_ML/SentimentAnalysisOfCommodityNews/requirements.txt
  projects_Intermediate/AI_ML/SentimentAnalysisOfCommodityNews/tokenizer.pickle
Labels: hacktoberfest, projects_Intermediate, AI/ML/DL

#162 CP_Question_4_
  coding_freshmen/C++/Sunita_bal_4/Clone_a_linked_list_with_next_and_random_pointer.cpp
  coding_freshmen/C++/Sunita_bal_4/README.txt
  coding_freshmen/C++/Sunita_bal_4/Spirally_traversing_a_matrix.cpp
  coding_freshmen/C++/Sunita_bal_cp4/Clone_a_linked_list_with_next_and_random_pointer.cpp
  coding_freshmen/C++/Sunita_bal_cp4/Kadane_algo.cpp
  coding_freshmen/C++/Sunita_bal_cp4/README.txt
  coding_freshmen/C++/Sunita_bal_cp4/Spirally_traversing_a_matrix.cpp
Labels: coding_freshmen, hacktoberfest-accepted, C/C++, approved

#163 Solved majority element
  coding_freshmen/.vscode/settings.json
  coding_freshmen/C++/TANIKA_GULATI/MAJORITY_ELEMENT.cpp
  coding_freshmen/C++/TANIKA_GULATI/MAJORITY_ELEMENT.exe
  coding_freshmen/C++/TANIKA_GULATI/README.md
  coding_freshmen/C++/TANIKA_GULATI/SORT_01.exe
Labels: hacktoberfest, coding_freshmen, hacktoberfest-accepted, C/C++, approved

#164 Solved sort_01
  coding_freshmen/C++/TANIKA_GULATI/README.md
  coding_freshmen/C++/TANIKA_GULATI/SORT_01.cpp
Labels: hacktoberfest, coding_freshmen, hacktoberfest-accepted, C/C++, approved
